language: node_js
node_js:
- 8
before_install:
- npm install -g npm
script:
- gpg --keyserver ha.pool.sks-keyservers.net --recv-key 13F26F82E955B8B8CE469054F29CCEBC83FD4525
- jq -r '.peerDependencies | to_entries[] | "\"\(.key)@\(.value)\""' package.json
  | xargs npm i
- "./manage ci"
env:
  global:
  - PATH="/usr/bin:$PATH"
  - secure: WGjLll2T+OD3n43RJ26MNQMw2XZgDfkKDW18meFRUNufjo0T0ECwbQETDgXyEiPe5jHkIcKmo5JlqOMQQfZnykcL96IJFXrWIuP6Zm1QwnAcrNbfThNT8X/P9p8Ms5Yieod1t58+4EqAdphR8OazT0zvfymXgkCo2TEHy0OhtChTeDd+s4uxNHljWpL0ATv5rwIMViBEfS0YC6/jVNhd1AdpFskEn+1NoOn6n8UV5dY1H79KGqiHvDzbtuJWhebZc42JJWm/2NFN5p7/E0torFCZQZ41whDl4oX8KJb6GG+/DW2G2BDx2L563yDErR0SJGwurDj5rnRBBW9hg3hPU8SCBq0FMRU6slb9vVYdYRew7AM2gvHtE2+sj5I7D11qSv8BSKVRPCbGUWSdjLa1q5bILVW1XDLEClKXYG1dAeP1Ma8nnsRhVEL23AMX1yMswVY0aqgWjRgOL7zkT2FVHdFADWONuiJx7BbM+FTz1yO6nPKN1l6bKLuv3ojnYKTYor5pPSW4RJx4GkeLvSpn6qJvBmHd+sSQboHlcairKbiG/pJB8C5J9ebre6/o2xRtflkKu/TdAmLtyMfya0LOjMHK/VCk32BY63NEZRfat0AOXMTW/DyB+AU5TwPF973MK+AR+vnA1w1I0k2qeXbPHEuexooEX9QCTjeEdR8iJJU=
  - secure: LaQGUELZsIekOOEPeSk8dOyliRCRxGuLV9CEIBX0UJzJi1Obht8FrLXaZs5DqlXVi/ZgoefOiPHsmuP48UXVQ+hE8s2yebxkSfKDuha44h2P4knj6aGqfL4zzlf2rakIV4bYxaLyGw5PDEC/2w9mOOc7NdfJcMPSJXiZDtkpd1nXOznLd50d3uLB2hCeBSGgwMOYUoOdN4e3/e9sJT2VJ9skaZhWAJ88ffQ2jFjBjzOULzwVHtbIfCxvTb/ZiqKNNzkylszIbofI4L+WNzy551pkcPHEx2UOWC3LrczmUGJwGHZjLiiWEBpi4STjrQQwdJSZdZP+6zHhfgFw/xR0Tg7nR5v+tkd5loxFqWAJuAN5yzttIakAPRy9PoXi9WC7231klnd0WMRwGRqxnOCIWNFcap3v4jZSugTLIha5JrtlvntibEAy8hzkvHOEaBDj/dj8DJf2WDxlcTqG86hKBVaUHJG3xo6lrXEU5afzFfTDQe0WgAGLoJKa2b8128dPZRFGsu9GIfBMMx7zRhBBXxN6JQrmVjJDe+XMFm1be2kKzhGysFyaCnkH9jdhQe0yE09phf2uHjtaydtyWgBxdj7/CUMb+qlPlk1GLiyKn4RAPWumNwUlL4ajkrip+s0gmca6Og0FUVEjKrfwCLaMCMQYojA7i27nqKLPfk5GV6A=
